<<<<<<< HEAD
body {
  font-family: sans-serif;
  -webkit-font-smoothing: auto;
  -moz-font-smoothing: auto;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: auto;
  text-rendering: optimizeLegibility;
  font-smooth: always;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

h1 {
  font-size: 1.5rem;
}
=======
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



>>>>>>> 1df0ff486473709c2ac077c455a0cb6dc524ec1c
